{% load static %}
<div class="row question">
    <div class="col-2">
        <img src="{% static answer.img %}" class="picture" alt="">
        <h4><a href="">{{answer.author}}}</a></h4>
        <div class="row" style="align-items: center;">
            <div class="col-4">
                <div class="navbar-toggler" style="height: 40px;margin-left: -10px">{{answer.likes}}</div>
                <div class="navbar-toggler" style="margin-left: -10px">{{answer.dislikes}}}</div>
            </div>
            <div class="col-4">
                <button class="navbar-toggler like">like</button>
                <button class="navbar-toggler dislike">dislike</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <p>{{answer.text}}</p>
    </div>
</div>