{% extends "./inc/base.html" %}
{% load bootstrap4 %}

{% block content_side %}
<div class="col-9">
    <h2 class="mt-5">Current question: {{question.name}}</h2>

    {% include "./inc/question_template.html" %}

    <hr>
    {% for answer in answers %}
    {% include "./inc/answer.html" %}
    {% endfor %}

    {% include "./inc/paginator_answers.html" %}
    <hr>

    <form action="{% url 'question_page' ix=question.name %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-outline-success" style="margin: 20px;" type="submit">Answer</button>
    </form>
</div>
{% endblock content_side %}

