{% extends "./inc/base.html" %}

{% block header_links %}
{% include "./inc/h_left_2.html" %}
{% endblock header_links %}

{% block header_place %}
{% include "./inc/h_right_2.html" %}
{% endblock header_place %}
<!-- Begin page content -->

{% block content_side %}
<div class="col-9">
    <h2 class="mt-5">Current question: {{question.name}}</h2>

    {% include "./inc/question_template.html" %}

    <hr>
    {% for answer in answers %}
    {% include "./inc/answer.html" %}
    {% endfor %}

    {% include "./inc/paginator_answers.html" %}
    <hr>

    <textarea class="t_area" placeholder="Enter your answer here"
              aria-label="Enter your answer here"></textarea>
    <button class="btn btn-outline-success" style="margin: 20px;" type="submit">Answer</button>
</div>
{% endblock content_side %}

