<div class="row question">
    <div class="col-2">
        <img src="/static/img/duck.jpg" class="picture" alt="">
        <h4><a href="">{Author}</a></h4>
        <div class="row" style="align-items: center;">
            <div class="col-4">
                <div class="navbar-toggler" style="height: 40px;margin-left: -10px">{100}</div>
                <div class="navbar-toggler" style="margin-left: -10px">{50}</div>
            </div>
            <div class="col-4">
                <button class="navbar-toggler like">like</button>
                <button class="navbar-toggler dislike">dislike</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
            безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum
            для распечатки образцов. {{answer.title}} </p>
    </div>
</div>