<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
</li>
{% if request.user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'ask' %}">Ask</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Ask</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'hot' %}">Hot</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'new' %}">New</a>
</li>