{% load bootstrap4 %}
<div class="col-9 mt-5">
    <div class="col-5">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div style="margin-left: 7px">
                {% bootstrap_form form %}
                <button class="btn btn-primary" style="margin-top: 10px" type="submit">Sign in</button>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </div>
</div>
