<div class="row" style="margin: 20px; font-size: 150%;">
    <div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
        <button class="btn btn-outline-success" type="submit">
            <a href="?page=1">&laquo; first</a>
        </button>
        <button class=" btn btn-outline-success" type="submit">
            <a href="?page={{ questions.previous_page_number }}"> previous </a>
        </button>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
        <button class="btn btn-outline-success" type="submit">
            <a href="?page={{ questions.next_page_number }}"> next </a>
        </button>
        <button class="btn btn-outline-success" type="submit">
            <a href="?page={{ questions.paginator.num_pages }}"> last &raquo;</a>
        </button>
        {% endif %}
    </span>
    </div>
</div>