<div class="row question">
    <div class="col-2">
        <img src="/{{question.img}}" class="picture" alt="">
        <h4><a href="">{{question.author}}</a></h4>
        <div class="row" style="align-items: center;">
            <div class="col-4">
                <div class="navbar-toggler" style="height: 40px;margin-left: -10px">{{question.likes}}</div>
                <div class="navbar-toggler" style="margin-left: -10px">{{question.dislikes}}</div>
            </div>
            <div class="col-4">
                <button class="navbar-toggler like">like</button>
                <button class="navbar-toggler dislike">dislike</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <h4><a href="{% url 'question_page' ix=question.name %}">{{question.name}}</a></h4>
        <p> {{question.text}} </p>
        <div class="row">
            <div class="col-3" style="text-align: center;">
                <a href="">answers(N)</a>
            </div>


            <div class="col-1">Tags:</div>
            {% for tag in question.tags.all %}
            <div class="col-2">
                <a href="{% url 'tag_questions' ix=tag.name %}"> {{tag.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>