<div class="row question">
    <div class="col-2">
        <img src="/static/img/duck.jpg" class="picture" alt="">
        <div class="row" style="align-items: center;">
            <div class="col-4">100</div>
            <div class="col-4">
                <button class="navbar-toggler like">like</button>
                <button class="navbar-toggler dislike">dislike</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <h4><a href="{% url 'question_page' ix=question.id %}">{{question.title}}</a></h4>
        <p> {{question.text}} </p>
        <div class="row">
            <div class="col-3" style="text-align: center;">
                <a href="">answers(N)</a>
            </div>


            <div class="col-1">Tags:</div>
            {% for tag in tags %}
            <div class="col-2">
                <a href="{% url 'tag_questions' ix=tag.id %}"> {{tag.title}}</a>
            </div>
            {% endfor %}
<!--            <div class="col-2">-->
<!--                <a href="">def2 {{question.tag2}}</a>-->
<!--            </div>-->
<!--            <div class="col-2">-->
<!--                <a href="">def3 {{question.tag3}}</a>-->
<!--            </div>-->
        </div>
    </div>
</div>