<div class="col-9">
    <h2 class="mt-5">Registration</h2>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Login</div>
        </div>
        <div class="col-7">
            <input class="reg_field" type="text" placeholder="Your login">
        </div>
    </div>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Email</div>
        </div>
        <div class="col-7">
            <input class="reg_field" type="text" placeholder="adasfa@mail.ru">
            <h5 style="margin: 8px; color: red;">Email is in use or incorrect</h5>
        </div>
    </div>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Nickname</div>
        </div>
        <div class="col-7">
            <input class="reg_field" type="text" placeholder="Your nickname">
        </div>
    </div>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Password</div>
        </div>
        <div class="col-7">
            <input class="reg_field" type="text" placeholder="Password">
        </div>
    </div>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Repeat password</div>
        </div>
        <div class="col-7">
            <input class="reg_field" type="text" placeholder="Repeat password">
            <h5 style="margin: 8px; color: red;">passwords are not the same</h5>
        </div>
    </div>
    <div class="row answer">
        <div class="col-3">
            <div class="reg_tag">Avatar</div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-10">
                    <input class="reg_field" type="text" placeholder="Path to file">
                </div>
                <div class="col-1">
                    <button class="btn-outline-success" style="margin: 8px;" type="submit">choose</button>
                </div>
            </div>
            <h5 style="margin: 8px; color: red;">You have some mistakes</h5>
            <button class="btn btn-outline-success" style="margin: 8px;" type="submit">Register</button>
        </div>
    </div>
</div>