{% extends "./inc/base.html" %}

{% block header_links %}
{% include "./inc/h_left_2.html" %}
{% endblock header_links %}

{% block header_place %}
{% include "./inc/h_right_2.html" %}
{% endblock header_place %}

<!-- Begin page content -->
{% block content_side %}
<div class="col-9">
    <h2 class="mt-5">Questions</h2>

    {% for question in questions %}
    {% include "./inc/question_template.html" %}
    {% endfor %}

    {% include "./inc/paginator_questions.html" %}
</div>

{% endblock content_side %}
